.connexionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.connexionBox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.connexionBox * {
  margin: 5px;
}
